<div class="lf-expand">
  <div class="lfe-cont">
    <ul class="list-menu-level1">
      <li class="current">
        <a href="javascript:void(0)" class="pa-title">常用<em class="arrow"></em></a>
        <ul class="list-menu-level2">
          <li id="homepageExpand " key="homepage " url="/qfang-agent/index/toIndexPage " class="expandMenu li-homepage ">
            <div class="icon_new "></div><a href="./" class="expandLink "><i class="icon iconfont icon-guanzhu"></i>首页</a>
          </li>
          <li id="fractionExpand " key="fraction " url="/qfang-agent/house/detection/fraction/index " class="expandMenu li-fraction ">
            <div class="icon_new "></div><a href="javascript:void(0)" class="expandLink "><i class="icon iconfont icon-guanzhu"></i>360自检</a>
          </li>
          <li id="announcementExpand " key="announcement " opentype="open " url="/qfang-net/notice/list " class="expandMenu li-announcement ">
            <div class="icon_new "></div><a href="./announcement.html" class="expandLink "><i class="icon iconfont icon-guanzhu"></i>公司公告</a>
          </li>
          <li id="issuedExpand " key="issued " opentype="open " url="/qfang-net/dispatch/list " class="expandMenu li-issued ">
            <div class="icon_new "></div><a href="javascript:void(0)" class="expandLink "><i class="icon iconfont icon-guanzhu"></i>公司发文</a>
          </li>
          <li id="websiteExpand " key="website " url="/qfang-net/website/list " class="expandMenu li-website ">
            <div class="icon_new "></div><a href="javascript:void(0)" class="expandLink "><i class="icon iconfont icon-guanzhu"></i>常用网站</a>
          </li>
          <li id="contactExpand " key="contact " url="/qfang-net/contactsList/toContactsIndex " class="expandMenu li-contact ">
            <div class="icon_new "></div><a href="./contacts.html" class="expandLink "><i class="icon iconfont icon-guanzhu"></i>通讯录</a>
          </li>
          <li id="ProductNavigationExpand " key="ProductNavigation " url="/qfang-agent/productNavigation/index " class="expandMenu li-ProductNavigation ">
            <div class="icon_new "></div><a href="javascript:void(0)" class="expandLink "><i class="icon iconfont icon-guanzhu"></i>产品导航<span class="new-version "></span></a>
          </li>
          <li id="emailExpand " key="email " url="/qfang-agent/index/welcome/showEmail " class="expandMenu li-email ">
            <div class="icon_new "></div><a href="javascript:void(0)" class="expandLink "><i class="icon iconfont icon-guanzhu"></i>邮箱</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>